.search {
  min-width: 24rem;
  position: relative;
  left: 4rem;
}
.carousel-grid{
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 200px;
}



.best-deals{
  width: 100%;
  padding: 1rem 150px 1rem 150px;

}
.card{
  display: flex;
  border: none;
  /* border: 1px solid red; */
  padding: 0;
  margin: 0;
  height: 100px;
  object-fit: fill;
}
.imageDiv{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.classified-grid{
  background-color: #e6e6e6;
  width: 100%;
  padding: 1rem 150px 1rem 150px;
}
.classified-main{
  /* background-color: transparent; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.classified-card-offer{
  border-radius: 30px;
  width: 200px;
  background-color: transparent;
}

.recommend{
  padding: 1rem 150px 1rem 150px;
  width: 100%;
}






.round-btn{
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.explore{
  margin-top: 10px;
  text-decoration: none;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    background:  #00C6D7;
    border-radius: 12px;
    font-weight: normal;
    padding: 1rem;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: all 0.2s ease-in-out;
    width: 150px;
}







.product-grid {
  width: 100%;
}

.hero-heading {
  color: #fff;
  font-size: 1.5rem;
  width: 80%;
  position: relative;
  left: 1rem;
}

.hero-highlight {
  color: #212121;
  font-weight: 700;
  background: #ffb825;
  border-radius: 5px;
  padding: 0.2rem;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.search-mobile {
  display: block !important;
}

.search-desktop {
  display: none !important;
}

@media screen and (min-width: 768px) {
  .hero {
    justify-content: flex-end;
    height: 20rem;
    padding-right: 8rem;
  }
  .hero-heading {
    position: static;
    font-size: 3rem;
    width: 50%;
  }
  .search-mobile {
    display: none !important;
  }
  .search-desktop {
    display: block !important;
  }
}
